.split {
    height: 100%;
    position: absolute;
    top: 0;
}

.left {
    left: 0;
    width: 25%;
    background-color: skyblue;
    border-right: 1px solid #000000;
}

.right {
    right: 0;
    width: 75%;
    height: 100%;
}

.button {
    padding: 3%;
    width: 40%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 53%;
    border-radius: 8px;
    background-color: ​#ffffff;
    color: #000000;
}

button:hover {
    background-color: #808080;
    color: #ffffff;
    transition: 0.1s;
    cursor: pointer;
}

.grid-container {
    margin-top: 3%;
    display: grid;
    margin-right: 10%;
    margin-left: 10%;
    grid-template-columns: auto auto auto auto;
    background-color: #000000;
    padding: 2px;
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 6%;
    text-align: center;
}

.row1 {
    font-weight: bold;
    background-color: skyblue;
    padding: 10px;
}

#new-employee-button {
    margin-top: 2%;
    padding: 1%;
    width: 25%;
    margin-left: 35%;
}

.new-employee {
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 20px;
    font-weight: bold;
}

form {
    background-color: skyblue;
    border: 1px solid #000000;
    margin-left: 10%;
    width: 40%;
    padding: 3%;
}

form>div {
    padding: 3%;
    font-size: 110%;
}

input {
    width: 60%;
}

#id-label {
    margin-left: 4%;
}

.submit-button {
    width: 15%;
    text-align: center;
    margin-left: 60%;
}