<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.kpr.training.jdbc.test_case.AddressServiceTestCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressDeleteTest1</td>
<td>deleteTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdateTest2</td>
<td>updateTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdationTest1</td>
<td>updateTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressCreationTest1</td>
<td>createTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressReadTest</td>
<td>readTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressCreationTest</td>
<td>createTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressSearch1</td>
<td>searchTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressReadAllTest</td>
<td>readAllTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressDeleteTest</td>
<td>deleteTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdationTest</td>
<td>updateTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressSearch</td>
<td>searchTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressReadTest1</td>
<td>readTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>deleteTest createTest readTest readAllTest updateTest searchTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTestCases</td>
<td>deleteTest createTest readTest readAllTest updateTest searchTest </td>
</tr>
</table>
