<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>createTest</td><td>AddressServiceTestCase.addressCreationTest1()[pri:2, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressCreationTest()[pri:1, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
<tr><td>deleteTest</td><td>AddressServiceTestCase.addressDeleteTest1()[pri:11, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressDeleteTest()[pri:10, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
<tr><td>readAllTest</td><td>AddressServiceTestCase.addressReadAllTest()[pri:5, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
<tr><td>readTest</td><td>AddressServiceTestCase.addressReadTest()[pri:3, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressReadTest1()[pri:4, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
<tr><td>searchTest</td><td>AddressServiceTestCase.addressSearch()[pri:12, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressSearch1()[pri:13, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
<tr><td>updateTest</td><td>AddressServiceTestCase.addressUpdateTest2()[pri:9, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressUpdationTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/>AddressServiceTestCase.addressUpdationTest()[pri:6, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]<br/></td></tr>
</table>
