<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressCreationTest()[pri:1, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressCreationTest</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressCreationTest1()[pri:2, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressCreationTest1</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:43</td>   <td>416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressDeleteTest()[pri:10, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressDeleteTest</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:43</td>   <td>530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressDeleteTest1()[pri:11, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressDeleteTest1</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadAllTest()[pri:5, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressReadAllTest</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadTest()[pri:3, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressReadTest</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadTest1()[pri:4, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressReadTest1</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:43</td>   <td>543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressSearch()[pri:12, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressSearch</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:43</td>   <td>568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressSearch1()[pri:13, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressSearch1</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdateTest2()[pri:9, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressUpdateTest2</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdationTest()[pri:6, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressUpdationTest</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdationTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">addressUpdationTest1</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:43</td>   <td>578</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddressServiceTestCase.afterTestCases()[pri:0, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">&lt;&lt;afterTestCases</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>21/01/06 11:10:42</td>   <td>-252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddressServiceTestCase.setUp()[pri:0, instance:com.kpr.training.jdbc.test_case.AddressServiceTestCase@7b49cea0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
</table>
